body {
    background-color: #adabab;
}

.btn-toggle-nav {
    width: 60px;
    height: 60px;
    background-image: url(hamburger_menu.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.btn-toggle-nav:hover {
    opacity: 0.7;
}

#color-menu {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 82px;
    background-color: beige;
    line-height: 40px;
    border: solid black 1px;
  }

#color-name {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: fixed;
    top: 20px;
    left: 150px;
}
  
.color {
    cursor: pointer;
    display: block;
    width: 60px;
    margin: 0px;
    padding: 0px 10px;
    text-align: left;
    font-family: arial;
    font-size: 16px;
    border: solid black 1px;
    opacity:0.8;
  }

.color:hover {
    opacity: 1;
  }
 
.hidden {
    display: none;
  }

